
a:hover{
  text-decoration: none;
  color: red;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

h1 {
  color: #343434;
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size: 3.5rem;
}
h2 {
  color: #343434;
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size: 2rem;
}
h3 {
  color: #343434;
  font-family: 'Jost', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}
p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}
a h1:hover, a h2:hover, a h3:hover, a p:hover {
  color:  #00999B;
}
hr {
  height: 0;
  border-style: dotted none none none;
  border-color: #e4e4e4;
  width: 50px;
  border-width: 10px;
}


/* NAVBAR */
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.5s;
}
.burger {
  height: 40px;
  width: 40px;
  padding: 10px 10px 10px 10px;
}

.burger:hover, .burger:focus .burger:active {
  content: url("../images/burger-white.svg");
  background-color: #00999B;
}

.navbar{
  padding: 0;
  background-color: #ffffff;
  z-index: 100;
}

.navbar-collapse{
  position: relative;
  background-color: #ffffff;
  z-index: 1;
}

.navbar-nav {
    vertical-align: middle;
    text-align: center;
}

.navbar-light .navbar-brand  {
  color: #343434;
  font-weight: bolder;
  font-family: 'Lora', serif;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
  color: #00999B;
  font-weight: bolder;
}

.nav-item, .navbar-light .navbar-nav .nav-link {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  color: #343434;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  font-weight: bolder;
}

.navbar-toggler {
  border: 0;
  padding:0;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  outline: 0;
}
.navbar-toggler[aria-expanded="true"] > .burger {
  background-color: #00999B;
  content: url("../images/burger-white.svg");
}

.container-fluid, .navbar{
  padding: 0% 29%;
}

.me {
  max-width: 100%;
  width: 350px;
  display: block;
  margin: 0 0 0 auto;
  padding: 0;
}

.row {
  margin: 0;
}


.title-text{
  text-align: left;
  padding: 20px 0;
}

.section-title{
  text-align: center;
  padding: 20px 0;
}



/* BODY -- INDEX */

.section {
  padding: 5vh 0;
}

.index-project {
 width: 100%;
 border-radius: 10px;
 margin-bottom: 10px;
}

.index-project:hover ~ .project-title {
  color: #00999B;
}

.project-title {
  text-align: center;
}

.col-left {
  padding: 0 10px 0 0;
  margin-bottom: 5px;
}

.col-right {
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}

.col-left img:hover, .col-right img:hover {
  opacity: 60%;
}

@media (max-width: 1700px) {
  .container-fluid, .navbar{
    padding: 0 25%;
  }
}
@media (max-width: 1500px) {
  .container-fluid, .navbar{
    padding: 0 20%;
  }
}
@media (max-width: 991px) { /* MD and below */
  .container-fluid, .navbar{
    padding: 0 10%;
  }
}
@media (max-width: 767px) { /* SM and below */
  .container-fluid {
    padding: 0 10px;
  }
  .navbar {
      padding: 0;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  .me {
    max-width: 50vw;
    margin: 0 auto 0 auto;
  }
  .col-left, .col-right {
    padding: 0 0 0 0;
  }
  .title-text{
    text-align: center;
  }
  .title-section {
    padding: 3vh 0;
  }
  h1 {
    font-size: 3rem;
  }
  .show {
    box-shadow: 0 1px #e4e4e4;
  }
}

/* FOOTER */
.footer{
  padding: 10px 0;
  vertical-align: center;
  font-size:75%;
  color: #e4e4e4;
}
.footer .col-right {
  text-align:right;
}
.social {
  color: #e4e4e4;
  padding: 0 10px;
  display: inline-block;
}

.social:hover {
  color: #00999B;
  opacity: 100%;
}
