

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  color: #343434;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size: 3.5rem;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size: 2rem;
}

h3 {
  font-family: 'Jost', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

a, a:hover, h1:hover, a h2:hover, a h3:hover, a p:hover {
  text-decoration: none;
}

hr {
  height: 0;
  border-style: dotted none none none;
  border-color: #e4e4e4;
  width: 50px;
  border-width: 10px;
}

/******************** LOADING ********************/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 50px solid #f3f3f3;
  border-radius: 50%;
  border-top: 50px solid #00999B;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}


/******************** NAVBAR ********************/
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.5s;
}

.burger {
  height: 40px;
  width: 40px;
  padding: 10px 10px 10px 10px;
}

.burger:hover, .burger:focus .burger:active {
  content: url("../images/burger-white.svg");
  background-color: #00999B;
}

.navbar, .navbar-collapse {
  padding: 0;
  background-color: #ffffff;
  z-index: 100;
}

.navbar-nav {
    text-align: center;
}

.navbar-light .navbar-brand  {
  color: #343434;
  font-weight: bolder;
  font-family: 'Lora', serif;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active {
  color: #00999B;
  font-weight: bolder;
}

.nav-item, .navbar-light .navbar-nav .nav-link {
  margin: 0 0 0 20px;
  text-align: right;
  color: #343434;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  font-weight: bolder;
}

.navbar, .navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
  border: 0;
  padding:0;
  outline: 0;
  background-color: #ffffff;
  z-index: 100;
}

.navbar-toggler[aria-expanded="true"] > .burger {
  background-color: #00999B;
  content: url("../images/burger-white.svg");
}

.container, .navbar {
  width: 800px;
}

/* BODY -- ALL */

/* BODY -- INDEX */

.index-header {
  height: 90vh;
  vertical-align: middle;
}

.index-project {
 width: 100%;
 border-radius: 10px;
 margin-bottom: 10px;
}

.index-project:hover ~ .project-title {
  color: #00999B;
}

.project-title {
  text-align: center;
}

.col-left {
  padding: 0 10px 5px 0;
}

.col-right {
  padding: 0 0 5px 10px;
}

.col-left img:hover, .col-right img:hover {
  opacity: 60%;
}

.me {
  width: 100%;
  display: block;
  padding: 0;
  vertical-align: middle;
}

.row {
  margin: 0;
}

.title-text{
  text-align: left;
  padding: 20px 0;
}

.section-title{
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 767px) { /* SM and below */

  .container, .navbar {
    width: 100vw;
    min-width: 320px;
  }
  .index-header{
    height: 70vh;
    margin: auto;
  }
  .nav-item, .navbar-light .navbar-nav .nav-link {
    text-align: center;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  .me {
    width: 40vw;
    min-width:150px;
    max-width: 200px;
    margin: 30px auto 0 auto;
  }
  .col-left, .col-right {
    padding: 0 0 5px 0;
  }
  .title-text{
    text-align: center;
  }
  .title-section {
    padding: 3vh 0;
  }
  h1 {
    font-size: 3rem;
  }
  .show {
    box-shadow: 0 1px #e4e4e4;
  }
}

/* FOOTER */
.footer{
  display: block;
  width:100vw;
  position: fixed;
  text-align: center;
  padding: 10px 0;
  margin: auto auto auto auto;
  bottom: 0;
  font-size:75%;
  color: #e4e4e4;
}
.footer .col-right {
  text-align: right;
}
.social {
  color: #e4e4e4;
  padding: 0 10px;
  display: inline-block;
}

.social:hover {
  color: #00999B;
  opacity: 100%;
}
